{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if object %}
        <h1 class="center"> Edit <span class="orange-text"> {{object.name}} </span></h1>
        {% else %}
        <h1 class="center">Add New Recipe!</h1>
        {% endif %}
    <form action="" method = "POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <input type="submit" class = "btn" value = "Submit New Recipe">
    </form>
    </div>
    

    <script>
        const dayOf = document.getElementById('id_day_of_week')
        M.FormSelect.init(dayOf);

        const cat = document.getElementById('id_category')
        M.FormSelect.init(cat)
    </script>
{% endblock %}
