{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Lucy Shopping</title>
</head>
<body>
<header class="nav-fixed">
    <nav class="row">
        <div class="nav-wrapper teal lighten-2">
            <a href="{% url 'home' %}" class="brand-logo col s8 push-s1 offset-1">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down col s3">
                <li><a href="{% url 'create_recipe'%}" >Create Your Own</a></li>
                <li><a href="{% url 'meal_plan' %}" >Meal Plan</a></li>
                <li><a href="{% url 'recipes'%}">Recipes</a></li>
            </ul>
        </div>
    </nav>
</header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    
    <footer class="page-footer teal lighten-2">
        
    </footer>
</body>
</html>