{% extends 'base.html' %}

{% block content %}

<div class="row container valign-wrapper">
    <section class="center title col s6">
        <h2 class=" ">{{recipe.name}}</h2>
        <h4 class="grey-text">{{recipe.category}}</h4>
        {% if recipe.user == user %}
            <a href="{% url 'recipes_delete' recipe.id %}" class="red lighten-2 btn-small">delete recipe</a> 
            <a href="{% url 'recipes_update' recipe.id %}" class="teal btn-small">update recipe</a>
            {% endif %}
            <a href="{{search_string}}" class="indigo lighten-3 btn-small" target="_blank">search on google</a>
    </section>
    <table class = "striped white col s4">
        <thead  class = "teal lighten-5">
            <tr>
                <th>Store(s)</th>
                <th>Total Price</th>
                <th>Total Calories</th>
            </tr>
          </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        {% for store in stores %}
                            <li >• {{store}}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>${{price}}</td>
                <td>{{calories}}</td>
            </tr>
        </tbody>
    </table>
</div>

<section class="row container">
    <div class="col s6">
        <img src="{{recipe.img_url}}" alt="" class="responsive-img">
    </div>
    <div class="col s6">
        <h4 class="white">Ingredients:</h4>
        <div class="divider"></div>
        <ul>
            {% for ing in recipe.ingredients.all %}
            
                <div class="col s4">
                        <li class = "card" id = "ingredients">
                        <div class="card-content" id = "ingredients">
                            {{ing.name}}
                        </div>
                    </div>
                
            </li>
            
            {% endfor %}
        </ul>
        </div>
        <br>
        <br>
        <p></p>
        <div class="divider"></div>
        <h4 class="white col s6">Instructions:</h4>
        <p>{{recipe.instructions|linebreaks}}</p>
        

        

    <br>
    

{% endblock %}