{% extends 'base.html' %}

{% block content %}
<h1 class="center">Lucy Meals</h1>
<section class="row container">
    <div class="col s9 push-s1">
        <h5 class="center">Categories</h5>
        <div class="row">
            {% for recipe in recipes %}
            <!-- <div class="col s4">
                <div class="card center">
                    <div class="card-content">
                        <div class="card-title">{{recipe.category}}</div>
                        <div class="card-body">Recipes: {{recipe.length}}</div>
                        <div class="card-action"><a href="" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div> -->
            {% endfor %}
            <div class="col s4">
                <div class=" card">
                    <div class="card-content center-align">
                        <div class="card-title">Appetizers</div>
                    <div class="card-body"># of recipes: {{appetizers|length}}</div>
                    <div class="card-action"><a href="" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class=" card">
                    <div class="card-content center-align">
                        <div class="card-title">Entrees</div>
                    <div class="card-body"># of recipes: {{entrees|length}}</div>
                    <div class="card-action"><a href="" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class=" card">
                    <div class="card-content center-align">
                        <div class="card-title">Desserts</div>
                    <div class="card-body"># of recipes: {{desserts|length}}</div>
                    <div class="card-action"><a href="" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class=" card">
                    <div class="card-content center-align">
                        <div class="card-title">Beverages</div>
                    <div class="card-body"># of recipes: {{beverages|length}}</div>
                    <div class="card-action"><a href="" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class=" card">
                    <div class="card-content center-align">
                        <div class="card-title">Sides</div>
                    <div class="card-body"># of recipes: {{sides|length}}</div>
                    <div class="card-action"><a href="" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class=" card">
                    <div class="card-content center-align">
                        <div class="card-title">Baked Goods</div>
                    <div class="card-body"># of recipes: {{baked_goods|length}}</div>
                    <div class="card-action"><a href="" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <di class="col s3 push-s2">
        <h5 class="center">Meal Plan</h5>
        <section>

        </section>
    </div>
</section>
{% endblock %}