{% extends 'base.html' %}

{% block content %}
<section class="row container" id="flex-center">
    <div class="center">
        <h5>Categories</h5>
        <div class="row responsive-table">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">Appetizers</div>
                    <div class="card-body"># of recipes: {{appetizers|length}}</div>
                    <div class="card-action"><a href="{% url 'recipes' 'appetizer' %}" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content center-align">
                        <div class="card-title">Entrees</div>
                    <div class="card-body"># of recipes: {{entrees|length}}</div>
                    <div class="card-action"><a href="{% url 'recipes' 'entree' %}" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content center-align">
                        <div class="card-title">Desserts</div>
                    <div class="card-body"># of recipes: {{desserts|length}}</div>
                    <div class="card-action"><a href="{% url 'recipes' 'dessert' %}" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content center-align">
                        <div class="card-title">Beverages</div>
                    <div class="card-body"># of recipes: {{beverages|length}}</div>
                    <div class="card-action"><a href="{% url 'recipes' 'beverage' %}" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content center-align">
                        <div class="card-title">Sides</div>
                    <div class="card-body"># of recipes: {{sides|length}}</div>
                    <div class="card-action"><a href="{% url 'recipes' 'side' %}" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content center-align">
                        <div class="card-title">Baked Goods</div>
                    <div class="card-body"># of recipes: {{baked_goods|length}}</div>
                    <div class="card-action"><a href="{% url 'recipes' 'baked good'%}" class="teal btn">View Recipes</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <section class="col s12 m7 right-align responsive-table">
        <div class="container right meal-plan-container">
            <h5 class="meal-plan-heading">Meal Plan</h5>
    
            <table class="striped right-align white">
                <tbody  >
                    <a href="{% url 'home' %}">
                        <tr class="hoverable deep-orange lighten-5">
                            <td>Monday</td>
                            {%if meal_plan.monday %}
                            <td><a href="{%url 'detail' meal_plan.monday.id%}">{{meal_plan.monday|capfirst}}</td>
                            {%else%}
                            <td>None</td>
                            {%endif%}
                        </tr>
                    </a>
        
                    <a href="{% url 'home' %}">
                        <tr class = "hoverable">
                            <td>Tuesday</td>
                            {%if meal_plan.tuesday %}
                            <td><a href="{%url 'detail' meal_plan.tuesday.id%}">{{meal_plan.tuesday|capfirst}}</td>
                            {%else%}
                            <td>None</td>
                            {%endif%}
                          </tr>
                    </a>
        
                    <a href="{% url 'home' %}">
                        <tr class = "hoverable deep-orange lighten-5">
                            <td>Wednesday</td>
                            {%if meal_plan.wednesday %}
                            <td><a href="{%url 'detail' meal_plan.wednesday.id%}">{{meal_plan.wednesday|capfirst}}</td>
                            {%else%}
                            <td>None</td>
                            {%endif%}
                          </tr>
                    </a>
        
                    <a href="{% url 'home' %}">
                        <tr class = "hoverable">
                            <td>Thursday</td>
                            {%if meal_plan.thursday %}
                            <td><a href="{%url 'detail' meal_plan.thursday.id%}">{{meal_plan.thursday|capfirst}}</td>
                            {%else%}
                            <td>None</td>
                            {%endif%}
                          </tr>
                    </a>
        
                    <a href="{% url 'home' %}">
                        <tr class = "hoverable deep-orange lighten-5">
                            <td>Friday</td>
                            {%if meal_plan.friday %}
                            <td><a href="{%url 'detail' meal_plan.friday.id%}">{{meal_plan.friday|capfirst}}</td>
                            {%else%}
                            <td>None</td>
                            {%endif%}
                          </tr>
                    </a>
        
                    <a href="{% url 'home' %}">
                        <tr class = "hoverable">
                            <td>Saturday</td>
                            {%if meal_plan.saturday %}
                            <td><a href="{%url 'detail' meal_plan.saturday.id%}">{{meal_plan.saturday|capfirst}}</td>
                            {%else%}
                            <td>None</td>
                            {%endif%}
                          </tr>
                    </a>
        
                    <a href="{% url 'home' %}">
                        <tr class = "hoverable deep-orange lighten-5">
                            <td>Sunday</td>
                            {%if meal_plan.sunday %}
                            <td><a href="{%url 'detail' meal_plan.sunday.id%}">{{meal_plan.sunday|capfirst}}</td>
                            {%else%}
                            <td>None</td>
                            {%endif%}
                          </tr>
                    </a>
                </tbody>
            </table>

    </section>

    <style>
        .meal-plan-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .meal-plan-heading {
            margin-top: 0;
        }

    </style>

</section>
{% endblock %}