{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class = "center-align">Weekly Plan</h2>
</div>
<div class="divider"></div>

<div class="container">
    <a href="{% url 'meal_add' %}"><h4 id = "h4-meal-plan" class=" black-text center" >Add Recipe to Meal Plan and Update  <div class="btn-floating btn-small waves-effect waves-light teal lighten-2"><i id = "add-button" class="material-icons">add</i></div></h4></a>
    <table class = "striped white">
        <thead>
          <tr>
              <th>Day</th>
              <th>Name</th>
              <th># of Ingredients</th>
              <th>Total Calories</th>
          </tr>
        </thead>
    
        <tbody>
            <a href="{% url 'home' %}">
                <tr class = "hoverable deep-orange lighten-5">
                    <td>Monday</td>
                    {%if meal_plan.monday %}
                    <td><a href="{%url 'detail' meal_plan.monday.id%}">{{meal_plan.monday|capfirst}}</td>
                    <td>{{meal_plan.monday.ingredients.all|length}}</td>
                    <td>{{calories.monday}}</td>
                    {%else%}
                    <td>None</td>
                    <td>-</td>
                    <td>-</td>
                    {%endif%}
                    
                  </tr>
            </a>

            <a href="{% url 'home' %}">
                <tr class = "hoverable">
                    <td>Tuesday</td>
                    {%if meal_plan.tuesday %}
                    <td><a href="{%url 'detail' meal_plan.tuesday.id%}">{{meal_plan.tuesday|capfirst}}</td>
                    <td>{{meal_plan.tuesday.ingredients.all|length}}</td>
                    <td>{{calories.tuesday}}</td>
                    {%else%}
                    <td>None</td>
                    <td>-</td>
                    <td>-</td>
                    {%endif%}
                    
                  </tr>
            </a>

            <a href="{% url 'home' %}">
                <tr class = "hoverable deep-orange lighten-5">
                    <td>Wednesday</td>
                    {%if meal_plan.wednesday %}
                    <td><a href="{%url 'detail' meal_plan.wednesday.id%}">{{meal_plan.wednesday|capfirst}}</td>
                    <td>{{meal_plan.wednesday.ingredients.all|length}}</td>
                    <td>{{calories.wednesday}}</td>
                    {%else%}
                    <td>None</td>
                    <td>-</td>
                    <td>-</td>
                    {%endif%}
                    
                  </tr>
            </a>

            <a href="{% url 'home' %}">
                <tr class = "hoverable">
                    <td>Thursday</td>
                    {%if meal_plan.thursday %}
                    <td><a href="{%url 'detail' meal_plan.thursday.id%}">{{meal_plan.thursday|capfirst}}</td>
                    <td>{{meal_plan.thursday.ingredients.all|length}}</td>
                    <td>{{calories.thursday}}</td>
                    {%else%}
                    <td>None</td>
                    <td>-</td>
                    <td>-</td>
                    {%endif%}
                    
                  </tr>
            </a>

            <a href="{% url 'home' %}">
                <tr class = "hoverable deep-orange lighten-5">
                    <td>Friday</td>
                    {%if meal_plan.friday %}
                    <td><a href="{%url 'detail' meal_plan.friday.id%}">{{meal_plan.friday|capfirst}}</td>
                    <td>{{meal_plan.friday.ingredients.all|length}}</td>
                    <td>{{calories.friday}}</td>
                    {%else%}
                    <td>None</td>
                    <td>-</td>
                    <td>-</td>
                    {%endif%}
                    
                  </tr>
            </a>

            <a href="{% url 'home' %}">
                <tr class = "hoverable">
                    <td>Saturday</td>
                    {%if meal_plan.saturday %}
                    <td><a href="{%url 'detail' meal_plan.saturday.id%}">{{meal_plan.saturday|capfirst}}</td>
                    <td>{{meal_plan.saturday.ingredients.all|length}}</td>
                    <td>{{calories.saturday}}</td>
                    {%else%}
                    <td>None</td>
                    <td>-</td>
                    <td>-</td>
                    {%endif%}
                    
                  </tr>
            </a>

            <a href="{% url 'home' %}">
                <tr class = "hoverable deep-orange lighten-5">
                    <td>Sunday</td>
                    {%if meal_plan.sunday %}
                    <td><a href="{%url 'detail' meal_plan.sunday.id%}">{{meal_plan.sunday|capfirst}}</td>
                    <td>{{meal_plan.sunday.ingredients.all|length}}</td>
                    <td>{{calories.sunday}}</td>
                    {%else%}
                    <td>None</td>
                    <td>-</td>
                    <td>-</td>
                    {%endif%}
                    
                  </tr>
            </a>
        </tbody>
    </table>
</div>

{% endblock %}