{% extends 'base.html' %}

{% block content %}
<h1 class="center">Recipes</h1>
    
    <div class="row container">
    {% for recipe in recipes %}
        <div class="col s4">
            <div class="card hoverable">
                <div class="card-content">
                    <div class="card-title">{{recipe.name}}</div>
                        <div class="card-body">Category: {{recipe.category}}</div>
                        <div class="card-action"><a href="{% url 'detail' recipe.id %}" class = "teal btn">View Details</a></div>
                </div>
             </div>
         </div>
        {% endfor %}
    </div>
        
    
{% endblock %}