body{
    display: flex;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    
}

.page-footer {
    padding: 1em;
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    padding: auto 40px auto 40px;
}

main {
    flex: 1 0 auto;
}

#flex-center {
    margin-top: 500px;
}