@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    display: flex;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    
}

.page-footer {
    padding: 1em;
}

#ingredients {
    /* margin: 15px !important; */
    padding: 5px !important;
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    padding: auto 40px auto 40px;
}

header a h4 {
    font-family: 'Lobster', cursive !important;
    margin-bottom: 30px !important;
    line-height: 65% !important;
}

main {
    flex: 1 0 auto;
}

#flex-center {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#cards {
    display: flex;
    justify-content: space-between;
}